 body { font-size:14pt;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	color: black;
background-color: white;}

 h1 { 	font-size:24px;
	font-family: Helvetica, Geneva, Arial, sans-serif;
	color:  	#483D8B }

 ul {	list-style-type: circle;}
